*
{
	font-family: montserrat,arial;
}
header
{
	width: 100%;
	display: flex;
	justify-content:space-around;
	align-items:baseline;
	background: pink
}
.section1, .section2
{
	width: 40%;
	background-color: pink;
}
.section2
{
	width: 60%
	height : 300px;
	min-height: 70%
	background:white;
}
hr
{
	text-align: left;
	color:white;
	width: 50%;
	height: 100%;
	margin: auto;
}
